/* ----global css start----------- */
.icon {
  font-size: 18px;
}
.long_arrow {
  font-weight: 600;
  font-size: 20px;
}
/* ----global css end----------- */

.tp-main-menu-bg {
  display: none;
}

/* ---------------golabl color variables--------------- */

:root {
  --color-asparagus: #6a994e;
  --color-yellow-green: #a7c957;
  --color-parchment: #f2e8cf;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
